@-webkit-keyframes float{
	0%{
		-webkit-transform: scale(1.03) rotate(0deg) translate(0px, 0px);
	}20%{
		-webkit-transform: scale(1.03) rotate(.5deg) translate(5px, 5px);
	}40%{
		-webkit-transform: scale(1.03) rotate(.7deg) translate(-5px, 10px);
	}60%{
		-webkit-transform: scale(1.03) rotate(.5deg) translate(-5px, 15px);
	}80%{
		-webkit-transform: scale(1.03) rotate(-.5deg) translate(0px, 10px);
	}100%{
		-webkit-transform: scale(1.03) rotate(0deg) translate(0px, 0px);
	}
}
@-webkit-keyframes turn{
	0%{}
	100%{
		-webkit-transform: rotateY(-83deg);
		opacity: 0;
	}
}
body{
	margin: 0;
	font-family: "Microsoft Yahei","微软雅黑","黑体","SimHei",Arial,sans-serif;
}
h1, h2{
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
}
	
	#body{
		width: 720px;
		margin: 100px auto;
		position: relative;
	}
		.paper{
			background: #fff;
			box-sizing: border-box;
			box-shadow: -1px 1px 4px #888, 1px 1px 4px #666;
		}
		.paper-1{
			-webkit-transform: rotate(-2deg);
		}
		.paper-2{
			-webkit-transform: rotate(-1deg);
		}
		#body .bg{
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: -1;
		}
		.paper.main{
			padding: 50px 40px 100px;
		}
			.paper.main header{
				text-align: center;
				margin-bottom: 50px;
			}
				h2{
					font-size: 35px;
					font-weight: normal;
				}
				.author{
					font-size: 14px;
					margin: 30px 0;
					color: #999;
				}
			.cnt{
				line-height: 1.5em;
				word-wrap: break-word;
			}
				.cnt p{
					margin: 40px 0;
				}
					


/* easter eggs */
	#body{
		-webkit-perspective: 1000px;
	}
		.paper{
			transition: 1s ease;
		}
		.bg{
			text-align: center;
		}
			.bg p{
				margin: 20px 0;
			}
		.paper.fly{
			-webkit-transform-origin: 0 0;
			-webkit-transform: scale(1.03);
			box-shadow: -2px -2px 20px #666, -2px 2px 20px #666, 2px -2px 20px #666, 2px 2px 20px #666;
		}
		.paper.float{
			-webkit-animation: float 10s linear infinite;
		}
		.paper.turned{
			-webkit-animation: turn 1s ease;
			-webkit-animation-fill-mode: forwards;
		}

		.end{
			color: rgba(124, 98, 50, 0.83);
			text-shadow: 1px 1px 2px #fff;
			font-weight: bold;
		}
			.end header{
				font-size: 80px;
				margin-bottom: 30px;
			}
			.end .bd{
				font-size: 20px;
			}
				.end .bd section{
					margin-bottom: 30px;
				}
